.previous-btn-icon {
    /* background-color: rgba(179, 129, 129, 0);
    color: black;
    border-radius: 90%; */
    transform: scale(3.05) translateY(-5px);
    opacity: 0.9;

    
    /* position: absolute;
    top: 0;
    right: 20px; */
}