
.main-container {
    background: url('../../../assets/images/black-background.jpg');
    background-size: cover;
    overflow-x: hidden;
    width: 100%;
}



@media (max-width: 820px) {
    .main-container {
        background: url('../../../assets/images/black-background-2.jpg');
        background-size: cover;
        overflow-x: hidden;
        background-position: right;
        /* width: 100%; */
    }
  }